.App {
  text-align: center;
}
#recordButton{
  margin:5px
}
#rulesButton{
  margin:5px
}
#StartButton{
  margin:5px
}
#hebrew{
  margin:5px
}
#navbar{
  /* margin-bottom: 5px; */
  padding:8px 20px;
}
#gameContainer{
  display:flex;
}

